<!DOCTYPE html>
<html>
  <head>
    <title>UScreamJiroApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix">
      <h1 class="header-title">You Scream Jiro</h1>
      <nav>
        <li class="header-menu-list"><%= link_to "使い方", "/about", class:"header-menu-link" %></li>
        <li class="header-menu-list">ログイン</li>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
